.counter {
    min-height: 300px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 5rem;
    box-shadow: 0 0 50px 4px #fff, /* inner white */
    0 0 60px 5px #f0f, /* middle magenta */
    0 0 83px 6px #0ff;
}

/*.counter:active {
        animation: heartBeat;*/ /* referring directly to the animation's @keyframe declaration */
/*animation-duration: 1s;*/ /* don't forget to set a duration! */
/*}*/

.tally {
    font-size: 4rem;
    font-weight: bold;
    background: -webkit-linear-gradient(rgba(32,38,57,1), rgba(63,76,119,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    .counter:active, .tally:active {
        animation: heartBeat;
        animation-duration: 2s;
    }

.btn-outline-warning {
    color: #6d6d6d !important;
    border-color: #6d6d6d !important;
}

.mobileNavBarContainer {
    visibility: hidden;
}

.desktopNavBarContainer {
    display: unset;
}

@media (max-width: 575.98px) {
    .counter {
        min-height: 280px;
        min-width: 280px;
    }

    .desktopNavBarContainer {
        display: none;
    }

    .mobileNavBarContainer {
        visibility: visible;
        box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, .1);
        z-index: 1;
        background: inherit;
        overflow: hidden;
    }

    .mobileNavBarContainer:before {
            content: "";
            position: absolute;
            background: inherit;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: inset 0 0 2000px rgba(255, 255, 255, .1);
            filter: blur(10px);
            margin: -20px;
        }

    .mobileNavbarBtn {
        padding: 1rem;
        cursor: pointer;
        flex: 1;
        text-align: center;
        transition: all 300ms ease-in-out;
    }

        .mobileNavbarBtn:hover {
            background-color: #7253c5;
            color: white;
        }
}
