@inject IJSRuntime JSRuntime

<div class="w-100 d-flex flex-column justify-content-center align-items-center settings">
    <div class="mb-2 user-select-none">
        <span>Vibration Settings</span>
    </div>
    <div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option1" @onclick="@(() => ChangeVibration("short"))"> Slow
            </label>
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option2" @onclick="@(() => ChangeVibration("medium"))"> Medium
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" @onclick="@(() => ChangeVibration("long"))"> Long
            </label>
        </div>
    </div>
</div>

@code{

    private async Task ChangeVibration(string value)
    {
        await JSRuntime.InvokeVoidAsync("VibrateOnTouch", value);
    }

}