@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ITallyCounterService TallyCounterService

<div class="d-flex flex-column align-content-center justify-content-center animate__animated animate__zoomIn">

    <div class="d-flex flex-row align-items-center justify-content-center user-select-none">
        <span class="text-center">
            @name
        </span>
    </div>

    <div id="counterbtn" class="rounded-circle bg-light counter mx-auto disable-dbl-tap-zoom" @onclick="IncrementCount">
        <span class="tally text-center user-select-none">@Count</span>
    </div>
    
    <div class="desktopNavBarContainer">
        <div class="mt-5 p-3 d-flex flex-row justify-content-center align-items-center animate__animated animate__flash animate__delay-1s">
            <button type="button" class="btn btn-outline-warning btn-circle btn-lg shadow mr-3" data-toggle="tooltip" data-placement="top" title="Reset Count" @onclick="ResetCounter">
                <i class="fas fa-undo"></i>
            </button>

            <button type="button" class="btn btn-outline-danger btn-circle btn-lg shadow mr-3" data-toggle="tooltip" data-placement="top" title="Delete" @onclick="DeleteCounter">
                <i class="fa fa-trash-alt" aria-hidden="true"></i>
            </button>

            <button type="button" class="btn btn-outline-primary btn-circle btn-lg shadow" data-toggle="tooltip" data-placement="top" title="Settings" @onclick="ShowSettings">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    @if (showSettings)
    {
        <CounterSettings></CounterSettings>
    }

</div>

<div class="mobileNavBarContainer fixed-bottom">
    <div class="mobileNavBar d-flex flex-row align-items-center justify-content-between w-100">
        <div class="mobileNavbarBtn" @onclick="@(() => NavigationManager.NavigateTo("./home"))" data-toggle="tooltip" data-placement="top" title="Home"><i class="fas fa-home"></i></div>
        <div class="mobileNavbarBtn" @onclick="ResetCounter" data-toggle="tooltip" data-placement="top" title="Reset Count"><i class="fas fa-undo" ></i></div>
        <div class="mobileNavbarBtn" @onclick="DeleteCounter" data-toggle="tooltip" data-placement="top" title="Delete"><i class="far fa-trash-alt"></i></div>
        <div class="mobileNavbarBtn" @onclick="ShowSettings" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fas fa-cog"></i></div>
    </div>

    @* <nav class="navbar navbar-dark fixed-bottom bg-dark">
           
        </nav>*@
</div>


@code{
    [Parameter]
    public TallyCounterItem CounterItem { get; set; }

    private string name = "Counter Default Title";
    private int Count = 0;

    private bool showSettings = false;

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("VibrateOnTouch", "medium");
    }

    protected override void OnParametersSet()
    {
        if (CounterItem != null)
        {
            Count = CounterItem.CountValue;
            name = CounterItem.Name;
        }
        
    }

    private async Task IncrementCount()
    {
        Count++;

        if (CounterItem != null)
        {
            CounterItem.CountValue++;
            await TallyCounterService.Upsert(CounterItem);
        }

    }

    private async Task ResetCounter()
    {
        Count = 0;

        if (CounterItem != null)
        {
            CounterItem.CountValue = 0;
            await TallyCounterService.Upsert(CounterItem);
        }
    }

    private async Task DeleteCounter()
    {
        if (CounterItem != null)
        {
            await TallyCounterService.RemoveCounter(CounterItem.Id);
            NavigationManager.NavigateTo("/home");
        }
    }

    private void ShowSettings()
    {
        showSettings = !showSettings;
    }

}