
<div class="w-100 d-flex flex-column justify-content-center align-items-center">

    <div class="mb-2">
        <span>Vibration Settings</span>
    </div>
    <div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1"> Slow
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2"> Medium
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" checked> Long
            </label>
        </div>
    </div>

</div>