@inherits LayoutComponentBase

<nav class="topBar navbar navbar-light mb-3">
    <a class="navbar-brand user-select-none d-flex flex-row align-items-center" href="/home">
        <img src="/images/counter.png" width="40" height="40" alt="TallyCounter" loading="lazy" class="mr-2">
        Digital Tally Counter
    </a>
</nav>
<div class="container">
    @Body
</div>
