@inject NavigationManager NavigationManager

<ul class="list-group list-group-flush">
    <li class="list-group-item" @onclick="@(() => NavigationManager.NavigateTo("/tally-counter"))">

        <div class="d-flex flex-row align-items-center justify-content-between">
            <div class="flex-1 text-truncate mr-4">Cras justo odio sahdashjd sadhaskdajs asjdljasdjas dsadjasdjas jsadlkasjdlksajd  asjdjaskjdlksajd lasjdlkasjdlkasjd las</div>
            <div class="list-arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
        </div>
    </li>
    
    <li class="list-group-item" @onclick="@(() => NavigationManager.NavigateTo("/tally-counter"))">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div class="flex-1">Cras justo odio</div>
            <div class="list-arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
        </div>
    </li>
    
    <li class="list-group-item" @onclick="@(() => NavigationManager.NavigateTo("/tally-counter"))">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div class="flex-1">Cras justo odio</div>
            <div class="list-arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
        </div>
    </li>
    
    <li class="list-group-item" @onclick="@(() => NavigationManager.NavigateTo("/tally-counter"))">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div class="flex-1">Cras justo odio</div>
            <div class="list-arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
        </div>
    </li>
</ul>
 